body {
    color: black;
}
.header-titles {
    margin: 1em 0;
}
.logo {
    text-align: center;
    font-weight: bold;
}
.header-blackline {
    background-color: black;
    color: white;
    padding: 0 1em;
    margin-bottom: 2em;
}
.content .center h2 {
    border-bottom: 3px solid red;
    margin-bottom: 1em;
}
.content .center p {
    text-align: justify;
    font-family: Georgia, serif;
}
.content .center p:first-letter {
    float: left;
    display: block;
    font-size: 68px;
    margin-right: 0.1em;
    font-weight: bold;
}
.content .center p span {
    font-variant: small-caps;
}
h2 {
    font-family: Georgia, serif;
}
.content img {
    border: 3px solid red;
}
.sidebar {
    border: 3px solid red;
    padding: .2em .5em;
}
.sidebar p {
    font-size: 16px;
}
.sidebar p.vcard {
    line-height: 24px;
}
.nav-sidebar img {
    margin-bottom: 1em;
}
body .container-fluid footer {
    border-top: 24px solid black;
    margin-top: 2em;
    padding-top: 1em;
}
body .container-fluid footer,
body .container-fluid footer p {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: justify;
}
