body {
    color: black;
}
.header-titles {
    margin: 1em 0;
}
.logo {
    text-align: center;
    font-weight: bold;
}
.header-blackline {
    background-color: black;
    color: white;
    padding: 0 1em;
    margin-bottom: 2em;
    font-size: 16px;
}
.header-blackline .menu {
    display: inline;
    list-style-type: none;
    margin: 0;
}
.header-blackline .menu li {
    display: inline;
}
.header-blackline .menu li a {
    color: white;
}
.content .center h1 {
    border-bottom: 3px solid red;
    margin-bottom: 1em;
}
.content .center p {
    text-align: justify;
    font-family: Georgia, serif;
}
.content .center p span {
    font-variant: small-caps;
}
.content .center p:first-letter {
    font-weight: bold;
    font-variant: inherit;
}
h1, h2 {
    font-family: Georgia, serif;
}
.nav-sidebar h2,
.sidebar h2 {
    font-size: 20px;
    line-height: 30px;
}
.content img {
    border: 3px solid red;
}
.sidebar {
}
.sidebar p {
    font-size: 16px;
}
.sidebar p.vcard {
    line-height: 24px;
}
.nav-sidebar img {
    margin-bottom: 1em;
}
body .container-fluid footer {
    border-top: 24px solid black;
    margin-top: 2em;
    padding-top: 1em;
}
body .container-fluid footer,
body .container-fluid footer p {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: justify;
}
@media (max-width: 767px) {
    h2 {
        border-bottom: 3px solid red;
        margin-bottom: .5em;
    }
}
@media (max-width: 480px) {
    p {
        font-size: 16px;
    }
}
